#card-container {
  display: flex;
  justify-content: center;

  .row {
    display: flex;
    justify-content: center;
  }
}

.col {
  width: 20em;
  
  .card {
    background-color: midnightblue;
    color: azure;
    height: 20em;
    width: 20em;
    border: 1px solid azure;

    .card-body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 0;
      margin: 5px;

      h1 {
        text-align: center;
        min-width: 5em;
      }

      img {
        max-width: 100%;
      }
    }
  }
}
