#planet-info {
  #info-card {
    display: flex;
    background-color: midnightblue;
    color: azure;
    border: 1px solid azure;

    #close {
      text-align: end;
      margin: 0em 1em 0em 0em;
      color: red;
    }
  }
}